<h1><center>Add Movie Form</center></h1>

<form method="post" action="/api/movies">

			  <div class="form-group">
			    <label for="title">Movie Title:</label>
			    <input type="text" class="form-control" name="title" placeholder="Enter movie title">
			  </div>


			  <input type="submit" class="btn btn-primary" id="submit-btn" value="Add Movie">
			</form>